*/node_modules
*/.next

# Testing
*/coverage

# Configuration files
.env

# Production
*/build

# Vscode
.vscode

# Yarn, not using zero installs
node_modules
.yarn
!.yarn/releases
!.yarn/plugins
.pnp.*

# Cypress
*/cypress/videos
*/cypress/screenshots