.rrAnimExt {
    display: inline-block;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.2s, opacity 0.2s;
  }
  
  .rrAnimParent:hover .rrAnimExt {
    max-width: 100px;
    opacity: 1;
    transition: max-width 0.2s, opacity 0.2s;
  }